@charset "utf-8";
/* CSS Document */

header{
	background-image: none;
	height: 50px !important;
}

.well-darker {
 	-webkit-border-radius: none;
	   -moz-border-radius: none;
			border-radius: none;
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
			box-shadow: none;
}

.nav-tabs {
	display: none;
}